<a href="https://colab.research.google.com/github/dylanmelnick/BTE320/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# August 26th

In [ ]:
r=3
pi=3.14
h=10
Area= 2*pi*r**2+2*pi*r*h
print(Area)

244.92000000000002

# September 9th

In [ ]:
choice = input('Do you want to play a game? (Yes or No) ').lower()
while choice == 'yes':

  p1 = input('Player 1: Choose Rock, Paper, or Scissors ').lower()
  p2 = input('Player 2: Choose Rock, Paper, or Scissors ').lower()

  if p1 == p2:
    print ('Draw')
  elif p1 == 'rock':
    if p2 == 'scissors':
      print ('Player 1 wins')
    else:
      print ('Player 2 wins')
  elif p1 == 'paper':
    if p2 == 'rock':
      print ('Player 1 wins')
    else:
      print ('Player 2 wins')
  elif p1 == 'scissors':
    if p2 == 'paper':
      print ('Player 1 wins')
    else:
      print ('Player 2 wins')

  choice = input('Do you want to play a game? (Yes or No) ')

Do you want to play a game? (Yes or No) Yes
Player 1: Choose Rock, Paper, or Scissors rock
Player 2: Choose Rock, Paper, or Scissors paper
Player 2 wins
Do you want to play a game? (Yes or No) no

# September 11th

In [ ]:
n1 = float(input('Choose the first number: '))
n2 = float(input('Choose the second number: '))
symbol = input('Pick symbol (+,-,*,/,**): ')
print()

if symbol == '+':
  print ((n1)+(n2))
elif symbol == '-':
  print ((n1)-(n2))
elif symbol == '*':
  print ((n1)*(n2))
elif symbol == '/':
  print ((n1)/(n2))
elif symbol == '**':
  print ((n1)**(n2))

Choose the first number: 3
Choose the second number: 5
Pick symbol (+,-,*,/,**): *

15.0

In [ ]:
!pip install ColabTurtlePlus

Requirement already satisfied: ColabTurtlePlus in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
from ColabTurtlePlus.Turtle import *

clearscreen()

reset = True

if reset:
  clear()

color('black', 'cyan')
shape('blank')
begin_fill()
jumpto(0,0)

for i in range(4):       #for varName in sequence
  forward(100)
  left(90)


penup()
end_fill()

# September 18th

In [ ]:
flat_rate = 5
hourly_rate = 2.5

for hour in range(1,9,1):
  if flat_rate + hourly_rate * hour < 10:
    print('Hour', hour,' ', 10.0)
  elif flat_rate + hourly_rate * hour > 20:
    print('Hour', hour,' ', 20.0)
  else:
    print('Hour', hour,' ', flat_rate + hourly_rate * hour)

Hour 1   10
Hour 2   10.0
Hour 3   12.5
Hour 4   15.0
Hour 5   17.5
Hour 6   20.0
Hour 7   20
Hour 8   20

In [ ]:
ticket = 10
attendees = 20
fixed = 200

for ad in range (0,201,25):
  additional = 2 * round(ad ** .5)
  profit = ticket * (attendees + additional) - fixed - ad
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

# September 25th

In [ ]:
L = []
i = int(input('Give a Value: '))

while i != 0:
  L.append(i)
  i = int(input('Give another Value: '))

print(L)

Give a Value: 3
Give another Value: 5
Give another Value: 6
Give another Value: 76
Give another Value: 65
Give another Value: 0
[3, 5, 6, 76, 65]

# September 30th

In [ ]:
months = {}

names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(names)):
  months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

# October 16th

In [ ]:

annual_salary = float(input('Enter Salary: '))
portion_saved = float(input('Enter Portion to Save (as a decimal): '))
total_cost = float(input('Enter the Cost of the House: '))

portion_down_payment = 0.25
r = 0.04

down_payment = total_cost * portion_down_payment
current_savings = 0
months = 0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12) + (portion_saved * (annual_salary / 12))
    months += 1

print(f"Number of months: {months}")

Enter Salary: 120000
Enter Portion to Save (as a decimal): .1
Enter the Cost of the House: 1000000
Number of months: 183

In [ ]:

annual_salary = float(input('Enter your annual salary: '))
portion_saved = float(input('Enter the percent of your salary to save, as a decimal: '))
total_cost = float(input('Enter the cost of your dream home: '))
semi_annual_raise = float(input('Enter the semi-annual raise, as a decimal: '))

portion_down_payment = 0.25
r = 0.04

down_payment = total_cost * portion_down_payment
current_savings = 0
months = 0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12) + (portion_saved * (annual_salary / 12))
    months += 1

    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise

print(f"Number of months: {months}")

Enter your annual salary: 120000
Enter the percent of your salary to save, as a decimal: .05
Enter the cost of your dream home: 500000
Enter the semi-annual raise, as a decimal: .03
Number of months: 142

In [ ]:
def range_check(num, low, high):
  if num >= low and num <= high:
    return True
  else:
    return False

In [ ]:
print(range_check(2, 1, 3))

True

# October 21st

In [ ]:


def calcFee(hours, decimals=2):
  fee= round(5 + hours* 2.5, decimals)
  return fee
def displayFee(fee):
  print(fee)

hours_parked= int(input('Enter the number of hours parked: '))
f=calcFee(hours_parked)
displayFee(f)

Enter the number of hours parked: 4
15.0

# October 28th

In [ ]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return rev(s[1:]) + s[0]

rev('hello')

'olleh'

# November 6th

In [ ]:
def wAvg(L, w):
  res = []
  for i in range(len(L)):
    res.append(L[i] * w[i])
  return sum(res) / sum(w)

L = []
while True:
  num_str = input("Enter a number (or 'done' to finish): ")
  if num_str.lower() == 'done':
    break
  try:
    num = float(num_str)
    L.append(num)
  except ValueError:
    print("Invalid input. Please enter a number or 'done'.")
w = []
while True:
  num_str = input("Enter a weight (or 'done' to finish): ")
  if num_str.lower() == 'done':
    break
  try:
    num = float(num_str)
    w.append(num)
  except ValueError:
    print("Invalid input. Please enter a weight or 'done'.")

if sum(w) == 0:
  print("Error: The sum of weights is 0. Cannot calculate weighted average.")
else:
  print('The weighted average is: ', (wAvg(L, w)))

Enter a number (or 'done' to finish): 1
Enter a number (or 'done' to finish): 2
Enter a number (or 'done' to finish): done
Enter a weight (or 'done' to finish): .5
Enter a weight (or 'done' to finish): .5
Enter a weight (or 'done' to finish): done
The weighted average is:  1.5

In [ ]:
def wAvg(L, w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print("Error: The sum of weights is 0. Cannot calculate weighted average.")
    return []
  except TypeError:
    print("Error: Non-numerical objects found.")
    return []
  except Exception as e:            #will show the type of error in the {e}
    print(f'Error: {e}')
    return []

wAvg([1, 2, 3], [.1, .2, .5])

Error: Non-numerical objects found.

[]

# November 11th

In [35]:
class Student:
  def __init__(self, name, number):
    self.name = name                  #underscore next to self.name to make it private, can only pull using get.name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'{self.name} is already enrolled in {course}.')

  def get_courses(self):
    return self.courses

  def set_name(self, newname):
    self.name = newname

  def get_name(self):
    return self.name

  def __str__(self):
    return f' Name: {self.name}.'       #print(Student1) will display " Name: 'name assigned' "

In [41]:
S1 = Student('James Bond', '007')
S2 = Student('Clark Kent', '333')

S1.enroll('BTE320')
S1.enroll('BTE401')
S2.enroll('BTE401')

In [43]:
S1.get_courses()

['BTE320', 'BTE401']